<%= form_with(model: course_registration, local: true) do |form| %>
  <% if course_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_registration.errors.count, "error") %> prohibited this course_registration from being saved:</h2>

      <ul>
      <% course_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :course_offerings_id %>
    <%= form.collection_select :course_offerings_id, CourseOffering.all, :id, :to_s%>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.select :grade , options_for_select(["A","B","C","D","E"])%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
