<p id="notice"><%= notice %></p>

<p>
  <strong>Course code:</strong>
  <%= @course.course_code %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @course.course_title %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
