<%= form_with(model: course_offering, local: true) do |form| %>
  <% if course_offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_offering.errors.count, "error") %> prohibited this course_offering from being saved:</h2>

      <ul>
      <% course_offering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.select :semester, options_for_select(["June","August","January"]) %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.all, :id, :to_s%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
